# Additional environment files
.env.local
.env.development
.env.test
.env.production

# Jupyter Notebook
.ipynb_checkpoints
test

# Additional Python environments
.venv
env/
ENV/
xcelbot/

.env
data/
xcelbot/
venv/
node_modules/
yarn.lock
__pycache__/
docker 
*.xlsx
# Additional environment files
.env.local
.env.development
.env.test
.env.production

# Jupyter Notebook
.ipynb_checkpoints

# Additional Python environments
.venv
env/
ENV/
