# Python environments
.venv/
env/
ENV/
downloads/

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Node
node_modules/
yarn.lock

# VS Code / IDE
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Excel / temp files (optional)
*.xlsx

# Ignore docker and Git files if needed
docker/
.git/
.gitignore
.dockerignore

# Environment files (only exclude if mounted manually at runtime)
.env.local
.env.development
.env.test
.env.production
